{% extends 'base.html' %}
{% block title %}
Articles Extractor
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="ml-3 container" style="float:left;">
        <h2 class="h3 mb-2 font-weight-normal">
            Search Articles
        </h2>
        <form method="POST" class="form-signin; mt-5" style="color:black">
            {{form.hidden_tag()}}
            
            <div class="row">
                <div class="col-md-2">{{ query_form.tags(class='form-control custom-select')}}</div>
                <div class="col-md-6">{{ query_form.keyword(class='form-control', placeholder='Keyword', required='required') }}</div>
                <div class="col-md-2">{{ query_form.connective(class='form-control custom-select')}}</div>
            </div>
           
            <div class="row">
                <div class="col-md-2">{{query_form.open_access}} Open access</div>
                <div class="col-md-7 text-right">
                    <button type="submit" name="add_keyword" class="btn btn-primary"> Add </button>
                </div>
            </div>
            <br>
            <div class="text-justify">{{form.pubmed_query(placeholder = 'Pubmed Query')}}</div>
            <br>
            <div class="text-justify">{{form.elsevier_query(placeholder = 'Elsevier Query')}}</div>
            <br>

            <div class="text-justify">
                <h5 class="text-justify">Select your desired databases</h5>
                <div class="row">
                    <div class="col-md-2">{{form.check_pubmed}} Pubmed</div>
                    <div class="col-md-4">{{form.range_pubmed(min=0, max=5000, oninput="outputUpdate(range_pubmed.value)")}}</div>
                    <div class="col-md-1" id="val_range_pubmed">{{ "%.0f"|format(form.range_pubmed.data)}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{form.check_scopus}} Scopus</div>
                    <div class="col-md-4">{{form.range_scopus}}</div>
                </div>
                <div class="row">
                    <div class="col-md-2">{{form.check_scidir}} Scientific Direct</div>
                    <div class="col-md-4">{{form.range_scidir}}</div>
                </div>
    </div>

    <br>
    <div>
        <button type="submit" name="submit_query" class="btn btn-md btn-primary">Search</button>
    </div>
    <br>
    <div>
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    </div>
    </form>
    </div>
</body>
{% endblock %}