{% extends 'base.html' %}
{% block title %}
Articles Extractor
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <h2 class="h3 mb-2 font-weight-normal">
            Advanced search
        </h2>
        <form method="POST" class="form-signin; mt-5" style="color:black; padding-left: 8%;">
            {{search_form.hidden_tag()}}
            
            {% for database in ["pubmed", "elsevier", "scielo", "pprint"] %}
                <!-- Heading -->
                <div class="row">
                    <div class="col-md-2 text-left"><h3>{{search_form['title_' + database]}}</h3></div>
                    <div class="col-md-2" style="margin-top: 10px;">Number of articles:</div>
                </div>
                
                <!-- Check and Range -->
                    {% if database == "elsevier" %}
                        <div class="row">
                            <div class="col-md-2 text-left">{{search_form.check_scopus(class='mt-2')}} <label class="form-check-label" for="check_scopus">Scopus</label></div>
                            <div class="col-md-7">{{search_form.range_scopus(class='form-control', step=25, min=0, max=5000, id='range_scopus', oninput="outputUpdate(range_scopus.value)")}}</div>
                            <div class="col-md-2">{{search_form.num_scopus(class='form-control', id='num_scopus')}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 text-left">{{search_form.check_scidir(class='mt-2')}} <label class="form-check-label" for="check_scidir">ScienceDirect</label></div>
                            <div class="col-md-7">{{search_form.range_scidir(class='form-control', step=25, min=0, max=5000, id='range_scidir', oninput="outputUpdate(range_scidir.value)")}}</div>
                            <div class="col-md-2">{{search_form.num_scidir(class='form-control', id='num_scidir')}}</div>
                        </div>

                    {% else %}
                    <div class="row">
                        <div class="col-md-2 text-left" >{{search_form['check_' + database](class='mt-2')}} <label class="form-check-label" for="check_{{database}}">Enabled</label></div>
                        <div class="col-md-7">{{search_form['range_' + database](class='form-control', step=5, min=0, max=5000, id='range_'+database, oninput="outputUpdate('range_'+database+'.value')")}}</div>
                        <div class="col-md-2">{{search_form['num_' + database](class='form-control', id='num_'+database)}}</div>
                    </div>
                    {% endif %}

                <br>
                
                <!-- Tags, Keyword, Boolean -->
                <div class="row">
                    {% if query_form['tags_' + database] %}
                    <div class="col-md-2">{{ query_form['tags_' + database](class='form-control custom-select', placeholder='Tags', id='tags_'+database)}}</div>
                    <div class="col-md-7">{{ query_form['keyword_' + database](class='form-control', placeholder='Keyword', id='keyword_'+database) }}
                        {% if query_form['date_' + database] %}
                        {{ query_form['date_' + database](class='form-control', placeholder='Date', id='date_'+database, style='display: none') }}
                        {% endif %}
                    </div>

                    {% else %}
                    <div class="col-md-9">{{ query_form['keyword_' + database](class='form-control', placeholder='Keyword') }}</div>
                    {% endif %}
                    <div class="col-md-2">{{ query_form['boolean_' + database](class='form-control custom-select')}}</div>
                </div>
                <div class="row">

                    {% if query_form['open_access_' + database] %}
                        <div class="col-md-2 text-left">{{query_form['open_access_' + database](class='mt-3')}} <label class="form-check-label" for="open_access_{{database}}">Open Access</label></div>
                        <div class="col-md-7"></div>
                    {% else %}

                        {% if database == "pubmed" %}
                        <div class="col-md-1">
                            <button class="btn btn-secondary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                                Filters
                            </button>
                        </div>
                        <div class="col-md-8"></div>
                        {% else %}
                        <div class="col-md-9"></div>
                        {% endif %}

                    {% endif %}

                    <div class="col-md-2 text-left">
                        <button type="submit" name="{{database}}_add_keyword" class="btn btn-primary mt-2"> Add </button>
                    </div>
                </div>

                {% if database == "pubmed" %}
                <div class="collapse" id="collapseFilters">
                    <br>
                    <div class="card card-body col-md-6">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-availability-tab" data-bs-toggle="tab" data-bs-target="#nav-availability" type="button" role="tab" aria-controls="nav-availability" aria-selected="true">Availability</button>
                            <button class="nav-link" id="nav-type-tab" data-bs-toggle="tab" data-bs-target="#nav-type" type="button" role="tab" aria-controls="nav-type" aria-selected="false">Type</button>
                            <button class="nav-link" id="nav-organism-tab" data-bs-toggle="tab" data-bs-target="#nav-organism" type="button" role="tab" aria-controls="nav-organism" aria-selected="false">Age</button>
                            <button class="nav-link" id="nav-language-tab" data-bs-toggle="tab" data-bs-target="#nav-language" type="button" role="tab" aria-controls="nav-language" aria-selected="false">Language</button>
                            <button class="nav-link" id="nav-others-tab" data-bs-toggle="tab" data-bs-target="#nav-others" type="button" role="tab" aria-controls="nav-others" aria-selected="false">Others</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-availability" role="tabpanel" aria-labelledby="nav-availability-tab">
                                <div class="text-left">{{search_filters.abstract(class="mt-2")}} <label class="form-check-label" for="abstract">Abstract</label></div>
                                <div class="text-left">{{search_filters.free_full_text(class="mt-2")}} <label class="form-check-label" for="free_full_text">Free full text</label></div>
                                <div class="text-left">{{search_filters.full_text(class="mt-2")}} <label class="form-check-label" for="full_text">Full text</label></div>
                            </div>
                            <div class="tab-pane fade" id="nav-type" role="tabpanel" aria-labelledby="nav-type-tab">
                                <div class="text-left">{{search_filters.booksdocs(class="mt-2")}} <label class="form-check-label" for="booksdocs">Books and documents</label></div>
                                <div class="text-left">{{search_filters.clinicaltrial(class="mt-2")}} <label class="form-check-label" for="clinicaltrial">Clinical trial</label></div>
                                <div class="text-left">{{search_filters.meta_analysis(class="mt-2")}} <label class="form-check-label" for="meta_analysis">Meta-Analysis</label></div>
                                <div class="text-left">{{search_filters.randomizedcontrolledtrial(class="mt-2")}} <label class="form-check-label" for="randomizedcontrolledtrial">Randomized Controlled Trial</label></div>
                                <div class="text-left">{{search_filters.review(class="mt-2")}} <label class="form-check-label" for="review">Review</label></div>
                                <div class="text-left">{{search_filters.systematicreview(class="mt-2")}} <label class="form-check-label" for="systematicreview">Systematic Review</label></div>
                            </div>
                            <div class="tab-pane fade" id="nav-organism" role="tabpanel" aria-labelledby="nav-organism-tab">
                                <div class="text-left">{{search_filters.humans(class="mt-2")}} <label class="form-check-label" for="humans">Humans</label></div>
                                <div class="text-left">{{search_filters.animal(class="mt-2")}} <label class="form-check-label" for="animal">Other Animals</label></div>
                                <div class="text-left">{{search_filters.male(class="mt-2")}} <label class="form-check-label" for="male">Male</label></div>
                                <div class="text-left">{{search_filters.female(class="mt-2")}} <label class="form-check-label" for="female">Female</label></div>
                            </div>
                            <div class="tab-pane fade" id="nav-language" role="tabpanel" aria-labelledby="nav-language-tab">
                                <div class="text-left">{{search_filters.english(class="mt-2")}} <label class="form-check-label" for="english">English</label></div>
                                <div class="text-left">{{search_filters.portuguese(class="mt-2")}} <label class="form-check-label" for="portuguese">Portuguese</label></div>
                                <div class="text-left">{{search_filters.spanish(class="mt-2")}} <label class="form-check-label" for="spanish">Spanish</label></div>
                            </div>
                            <div class="tab-pane fade" id="nav-others" role="tabpanel" aria-labelledby="nav-others-tab">
                                <div class="text-left">{{search_filters.data(class="mt-2")}} <label class="form-check-label" for="data">Associated data</label></div>
                                <div class="text-left">{{search_filters.excludepreprints(class="mt-2")}} <label class="form-check-label" for="excludepreprints">Exclude preprints</label></div>
                                <div class="text-left">{{search_filters.medline(class="mt-2")}} <label class="form-check-label" for="medline">MEDLINE</label></div>
                            </div>
                            <br>
                            <div class="text-left">
                                <button type="submit" name="apply_filters" class="btn btn-primary mt-2 "> Apply filters </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <br>

                <!-- Query -->
                <div class="text-justify">{{search_form["query_" + database](placeholder = search_form["title_" + database]+' Query')}}</div>
                <br>

            {% endfor %}

            <!-- Optional -->
            <hr>
            {% include 'optional_features.html' %}
            <br>

            <!-- Submit -->
            <div class="row mt-3">
                <div class="col-md-11 text-center">
                    <button type="submit" name="submit_query" class="btn btn-md btn-primary">Search</button>
                </div>
            </div>
            <br>

        </form>
    </div>
    

    <script>
        // Update the value in the num_of_articles fields
        function updateTextField(input, textField) {
        textField.value = input.value;
        }

        function setupEventListener(range, textField) {
        range.addEventListener('input', function() {
            updateTextField(range, textField);
        });
    }

        var rangePubmed = document.getElementById('range_pubmed');
        var textFieldPubmed = document.getElementById('num_pubmed');

        var rangeScopus = document.getElementById('range_scopus');
        var textFieldScopus = document.getElementById('num_scopus');

        var rangeSciDir = document.getElementById('range_scidir');
        var textFieldSciDir = document.getElementById('num_scidir');

        var rangeSciElo = document.getElementById('range_scielo');
        var textFieldSciElo = document.getElementById('num_scielo');

        var rangePprint = document.getElementById('range_pprint');
        var textFieldPprint = document.getElementById('num_pprint');
        
        setupEventListener(rangePubmed, textFieldPubmed);
        setupEventListener(rangeScopus, textFieldScopus);
        setupEventListener(rangeSciDir, textFieldSciDir);
        setupEventListener(rangeSciElo, textFieldSciElo);
        setupEventListener(rangePprint, textFieldPprint);
    </script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // jQuery script to handle radio button change events
    $(document).ready(function () {
        $('input[name="flashtext_radio"]').change(function () {
            if (this.value === 'Keyword') {
                $('#keywordDiv').show();
                $('#modelsDiv').hide();
            } else if (this.value === 'Model') {
                $('#keywordDiv').hide();
                $('#modelsDiv').show();
            }
        });

        // Check if the selected option is 'Date'
        $('#tags_pprint').change(function () {
                console.log('mudou')
                var selectedOption = $(this).val();

                if (selectedOption === 'date') {
                    $('#keyword_pprint').hide();  
                    $('#date_pprint').show(); 
                } else {
                    $('#date_pprint').hide();     
                    $('#keyword_pprint').show();   
                }
            });
    });
</script>

</body>
{% endblock %}