{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block content %}

<body>
    <h1>Itens to verified in ChatGPT</h1>
    <form method="POST">
        <table class="table table-hover table-bordered" >
            <thead>
                <tr>
                    {% for column_name in df.columns %}
                        <th space="col" class="wide-cell">{{column_name}}</th>
                    {% endfor %}
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for r, row in df.iterrows() %}
                <tr>
                    {% for column_name in df.columns %}
                        <td>{{ row['DOI'] }}</td>
                        <td>{{ row['Title'] }}</td>
                        <td>{{ row['Authors'] }}</td>
                        <td><input type="checkbox" id="{{ index }}" name="selecionado" value="{{ row['DOI'] }}"></td>
                   {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button type="submit" id="submitButton">Submit</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#checkboxForm').submit(function(event) {
                event.preventDefault(); // Impede o envio do formulário tradicional

                var selecionados = [];
                $('input[type=checkbox]').each(function() {
                    if ($(this).is(':checked')) {
                        selecionados.push($(this).attr('id'));
                    }
                });

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: '/',
                    data: JSON.stringify({ 'selecionados': selecionados }),
                    success: function(response) {
                        alert('Seleções salvas com sucesso!');
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
{% endblock %}