{% extends 'base.html' %}

{% block content %}

<body class="text-center">
    <div style="width: 50%; height: 550px; float:left;">
        <img class='mt-5'
            src="https://static.vecteezy.com/system/resources/thumbnails/001/831/224/small_2x/online-training-books-talk-bubbles-and-coffee-cup-education-and-courses-learning-digital-free-vector.jpg"
            width="350" height="350">
    </div>
    <div class="h-100 mt-5 p-5 text-center justify-content-center 
    align-items-center" style="width:50%; height: 550px; float:left; color:#150050">
        <h1>MaBEL - Mapping Biological Entities from Literature</h1>
        <h4>A Bambu Enterprise application.</h4>
        <br>
        <a class='btn btn-bg btn-primary' type='button' href="{{url_for('articles_extractor')}}">Get started</a>
    </div>
</body>

{% endblock %}