<div class="text-justify">
    <div class="accordion col-md-12" id="accordionOptional">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOptional">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOptional" aria-expanded="true" aria-controls="collapseOptional">
                Optional Features
                </button>
            </h2>

            <div id="collapseOptional" class="accordion-collapse collapse" aria-labelledby="headingOptional" data-bs-parent="#accordionOptional">
                <div class="accordion-body">
                    <div class="row text-center">
                    
                        <div class="col-md-4">
                            <h5>Named-Entity Recognizer</h5>
                            <div class="card card-body col-md-12" style="max-height: 300px; overflow-y: auto;">
                                {% for name, entity in entities._fields.items() %}
                                    {% if entity.__class__.__name__ == 'BooleanField' %}
                                    <div class="text-start">
                                        {{entity(class="mt-2")}} 
                                        <label class="form-check-label" for={{entity.name}}>{{name.title().replace("_", " ")}}</label>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    <br>

                        <div class="col-md-4">
                        <h5>Filter keywords</h5>
                            <div class="card card-body col-md-12" style="max-height: 300px; overflow-y: auto;">
                                <div class="text-start">
                                    <ul id="radio", style="padding: 0;">
                                        <div>
                                            <input id="radio-0" name="flashtext_radio" type="radio" value="Keyword">
                                            <label for="radio-0"><h5>Keywords</h5></label>
                                        </div>
                                        <div class="text-start" id="keywordDiv" style="margin-left: 10px;">
                                            <label>Keyword:</label>
                                            {{ search_form.flashtext_string(class='mt-2 form-control', placeholder="ex: Cancer, Prostate") }}
                                        </div>
                                        <br>
                                        <div>
                                            <input id="radio-1" name="flashtext_radio" type="radio" value="Model">
                                            <label for="radio-1"><h5>Use a model</h5></label>
                                        </div>
                                        <div class="text-start" id="modelsDiv" style="margin-left: 10px;">
                                            <h6>Genes models:</h6>
                                            <div>{{default_models.genes_human(class='mt-2')}} <label class="form-check-label" for="genes_human">Human</label></div>
                                            <div>{{default_models.genes_danio_rerio(class='mt-2')}} <label class="form-check-label" for="genes_danio_rerio">Danio rerio</label></div>
                                            <br>
                                            <h6>My models:</h6>
                                            {% for model_name, model in user_models._fields.items() %}
                                                {% if model.__class__.__name__ == 'BooleanField' %}
                                                    <div>{{model(class='mt-2')}} <label class="form-check-label" for={{model_name}}>{{model_name.replace("_", " ").replace(".pickle", "")}}</label></div>
                                                {% endif %}
                                            {% endfor %}
                                            
                                            <br>
                                            <a href="{{ url_for('user_models') }}" class="btn btn-link" style="padding: 0;">My models</a>
                                        </div>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    <br>

                        <div class="col-md-3">
                        <h5>Pubtator</h5>
                        <div class="card card-body col-md-12" style="max-height: 300px; overflow-y: auto;">
                            {% for name, option in pubtator._fields.items() %}
                                {% if option.__class__.__name__ == 'BooleanField' %}
                                <div class="text-start">
                                    {{option(class="mt-2")}} 
                                    <label class="form-check-label" for={{option.name}}>{{name.title().replace("_", " ")}}</label>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>