Arquivo temporario

<div> Named-Entity Recognizer (Optional) </div>
<div class="row">
    <div class="col-md-4"> {{form.ner(class='form-control custom-select', id='ner', oninput="outputUpdate(ner.value)")}} </div>
    
    <div class="col-md-5" id="gene_models" style="display: none"> 
        <div>Select models</div>
        <div>{{form.human(class='mt-2')}} Human genes</div>
        <div>{{form.test(class='mt-2')}} Test model</div>
    </div>
    
</div>


<script>
    
    // Show or Hide models when Genes are selected as NER
    const selectElement = document.getElementById('ner');
    const genesDiv = document.getElementById('gene_models');

    selectElement.addEventListener('change', function () {
        const selectedValue = selectElement.value;
        if (selectedValue === "genes") {
            genesDiv.style.display = "block"; }   
        else {
            genesDiv.style.display = "none"; }
        })

</script>
