{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center;">Area users</h2>
<hr>
<table class="table table-hover table-hover ms-0">
    <thead>
        <tr>
            <th space="col">task ID</th>
            <th space="col">Pubmed Query</th>
            <th space="col">Elsevier Query</th>
            <th space="col">Created Date</th>
            <th space="col">Status</th>
            <th space="col">Open</th>
            <th space="col">Download</th>
            <th space="col"></th>
        </tr>
    </thead>
    <tbody>
        {%for result in results %}
        <tr>
            <td>{{result.celery_id}}</td>
            <td>{{result.pubmed_query}}</td>
            <td>{{result.elsevier_query}}</td>
            <td>{{result.created_date}}</td>
            <td>{{result.status}}</td>
            <td>
                {% if result.status == 'DONE' %}
                   <a class="btn btn-md btn-primary" href="{{url_for('result_view', result_id=result.id)}}">Open</a>
                {% endif %}
            </td>
            <td>
                {% if result.status == 'DONE' %}
                   <a class="btn btn-md btn-success" href="{{url_for('download', result_id=result.id)}}">Download</a>
                {% endif %}
            </td>
            <td>
                <form method="POST" action="{{ url_for('delete_record', id=result.id) }}">
                    <button type="submit" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                    </button>
                </form>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}